<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index.html</title>
</head>
<body>
    <h3>app2의 intro</h3>  
    <br><hr><br>

    <a href="app2test">1. html에서 back end 데이터 출력</a> <br>

    2. form tag의 input tag에 데이터 입력해서 post방식으로 server에 전송 및 출력 <br>
    <form action="app2submit" method="post">
        name : <input type="text" name="myname">
        <input type="submit" value="입력">
    </form>

    3. form tag의 input tag에 데이터 입력해서 get방식으로 server에 전송 및 출력 <br>
    <form action="app2submit" method="get">
        name : <input type="text" name="myname">
        <input type="submit" value="입력">
    </form>
        
</body>
</html>